/*selector uiversal*/
*{
    margin: 0;
    padding: 0;
}
/*slector de etiqueta*/
body{

    background-color: antiquewhite;
    color: white;
}
/*selector de id*/
#contenedor{
    width: 900px;
    height: 100%;
    background-color: rgba(59, 62, 65, 0.808);
    margin: 10px;
    padding: 20px;
}
#emcabezado{
    width: 70%;
    background-color: rgba(199, 203, 207, 0.459);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}
#menu{
    height: 40px;
    background-color: rgba(199, 203, 207, 0.459);
    margin: 1em;
    border-radius: 5px;
}
/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
img:hover{
    width: 100%;
    
}
li a:hover{
    color: crimson;
    text-decoration: none;
    font-size: 150%;
    list-style: none;
}
/*selector de clase*/
*img{
    width: 100%;
    justify-items: center;
}
.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;
}
#pie{
    height: 60px ;
    background-color: rgb(0, 0, 0) ;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
#pie h4{
    padding: 10px;
    font-size: 30px;
    background-color: rgba(240, 255, 255, 0.233);
}
/*card*/
.card{
    box-shadow: 0 4px 8px black;
    overflow: hidden;
    max-width: 400px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;

}

.card img{
    background-color: white;
}
.title{
    color: rgb(224, 201, 201);
    font-size: 18px;
}


